In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
df=pd.read_csv('brooklyn99_episodes.csv')

In [3]:
df.head()

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,Pilot,Phil Lord & Christopher Miller,Dan Goor & Michael Schur,2013-09-17,101.0,6170000.0
1,1,2,2,The Tagger,Craig Zisk,Norm Hiscock,2013-09-24,102.0,4030000.0
2,1,3,3,The Slump,Julie Anne Robinson,Prentice Penny,2013-10-01,105.0,3430000.0
3,1,4,4,M.E. Time,Troy Miller,Gil Ozeri,2013-10-08,106.0,3340000.0
4,1,5,5,The Vulture,Jason Ensler,Laura McCreary,2013-10-15,104.0,3430000.0

In [4]:
df[['directed_by','us_viewers']].groupby(['directed_by']).sum().reset_index().sort_values(['us_viewers'],ascending = False).head(1)

         directed_by  us_viewers
38  Michael McDonald  30400000.0

In [5]:
df[df['directed_by']=='Michael McDonald']['us_viewers'].sum()

30400000.0

In [7]:
df['directed_by'].value_counts().head()

Michael McDonald    12
Claire Scanlon      10
Linda Mendoza        9
Dean Holland         7
Craig Zisk           5
Name: directed_by, dtype: int64